@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

.navbar{
    background-color: #e83e8c !important;
}

.logo-suricata{
    width: 132px;
    height: 53px;
}

.text-h1{
    font-size: 60px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    color: #707070;
    text-align: center;
    margin-top: 64px;
    margin-bottom: 77px;

}

.card-title{
    font-weight: 700;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}

.list-group-item{
    font-size: 11px;
    font-family: 'Open Sans', sans-serif;


}

.card-body a{
    font-size: 11px;
    font-family: 'Open Sans', sans-serif;
}

.row-card{
    margin-top: 64.24px;
    margin-bottom: 118.24px;
}

.now-accept{
    background-color: #17A2B8;
    height: 170px;
}

.h2-text{
    display: flex;
    align-items: center;
}



.now-accept h2{
    color: white;
    font-size: 40px;
    font-weight: 700;
    
}

.fa-brands {
    color:white;
    font-size: 80px;
}


footer{
    background-color: #e83e8c;
    height: 184px;
}

footer img{
    height: 100.45px;
    width: 53.32px;

}

@media (max-width: 767.98px) { 

    .row .col{
        display: flex !important;
        justify-content: center !important;
    }
    
    .card{
        margin-bottom: 50.24px;
    }


}


@media (max-width: 575.98px) {
    .text-h1{
        font-size: 35px;
        margin-top: 41px;
        margin-bottom: 29px;
    }

    .h2-text{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .nuestros-productos{
        margin-right: 61.5px;
        margin-left: 61.5px;
    }

    .card{
        margin-bottom: 50.24px;
    }

    .row-card{
        margin-top: 29px;
        margin-bottom: 49.24px;
    }

    .row .col{
        display: flex !important;
        justify-content: center !important;
    }
    

    



 }